.cdx-marker {
  background: rgba(245,235,111,0.29);
  padding: 3px 0;
}

.inline-code {
  background: rgba(251,241,241,0.78);
  color: #C44545;
  padding: 4px 6px;
  border-radius: 2px;
  margin: 0 2px;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 0.9em;
}